{% extends "layout.html" %}

{% block title %}
   Course Home
{% endblock %}

{% block main %}
<div class="col-md-3">    
</div>

<div class="col-md-6" style="text-align: center">
    <h1>Welcome to the MOOC Manager</h1>
    <p>
        The MOOC Manager is a simple tool designed to help you manage your current active MOOCs. You can keep track of your progress,
        add links to suplimental tools / resources you like, and even keeps quick notes to track those "Ah Ha!" moments.
    </p>
    <p>
        Navigate using the links above.
    </p>

</div>

<div class="col-md-3">
</div>
{% endblock %}
