{% extends "layout.html" %}

{% block title %}
   Course Home
{% endblock %}

{% block main %}
    <div class="col-md-12">
        <span class="pname">{{user.username}}</span>

        <p>{{user.lastName}}, {{user.firstName}}  ({{user.title}})</p>
        <p>
            <em><strong>{{user.quote}}</strong></em>
        </p>

    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
                <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="heading" style="color: #190396">Active Courses: <span style="color: #000">{{user.active}}</span></th>
                    </tr>
                </thead>
                <tbody>
                    {%for course in a_courses%}
                    <tr>
                        <td><a style="padding-left: 5px" href="{{ url_for('my_courses') }}">{{course.name}}</a></td>
                    </tr>
                    {%endfor%}
                <tbody>
            </table>
        </p>
    </div>
    <div class="col-md-5">
        <p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="heading" style="color: #190396">Completed Courses: <span style="color: #000">{{user.completed}}</span></th>
                </tr>
            </thead>
            <tbody>
                {%for course in c_courses%}
                <tr>
                    <td><a style="padding-left: 5px" href="{{ url_for('completed_courses') }}">{{course.name}}</a></td>
                </tr>
                {%endfor%}
            <tbody>
        </table>
        </p>
    </div>
    <div class="col-md-1">

    </div>
        <div class="col-md-12">
        <p>
            <hr style="width: 100%">
            <strong>Profile Actions:</strong><br />
            <button type="button" class="glyphicon glyphicon-pencil popup_low" data-toggle="modal" data-target="#{{users_name}}profileModal">
                <span>Edit Profile</span>
            </button>
            ||
            <button type="button" class="glyphicon glyphicon-lock popup_low" data-toggle="modal" data-target="#{{users_name}}passwordModal">
                <span>Change Password</span>
            </button>
             ||
            <a class="glyphicon glyphicon-log-out popup_low" href="{{ url_for('logout') }}">
                <span>Log Out</span>
            </a>
         </p>
    </div>
        <!-- Modal Base Code from getbootstrap.com -->
    <div class="modal fade" id="{{users_name}}profileModal" tabindex="-1" role="dialog" aria-labelledby="{{users_name}}profileModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="{{users_name}}profileModalLabel">Update Profile</h4>
          </div>

              <div class="modal-body">

                <form action="{{ url_for('profile') }}" method="post">
                    <fieldset>
                        <div class="pname">{{user.username}}</div>
                        <div class="col-md-12" align="left">
                            <input name="action" value ="profedit" type="hidden"/>
                                <div class="form-group">
                                    First Name:<br> <input autocomplete="off" autofocus class="form-control" name="firstName" value="{{user.firstName}}" type="text" style="width: 100%"/>
                                </div>

                                <div class="form-group">
                                    Last Name:<br> <input autocomplete="off" class="form-control" name="lastName" value="{{user.lastName}}" type="text" style="width: 100%"/>
                                </div>

                                <div class="form-group">
                                    Title:<br> <input autocomplete="off" class="form-control" name="title" value="{{user.title}}" type="text" style="width: 100%"/>
                                </div>
                                <div class="form-group">
                                    Quote:<br><textarea id="notes" autocomplete="off" class="form-control" name="quote" rows="5">{{user.quote}}</textarea>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-default" type="submit">Update Profile</button>
                                </div>
                            </div>
                    </fieldset>
                </form>

              </div>
            </div>
        </div>
    </div>
<!-- Modal Base Code from getbootstrap.com -->
    <div class="modal fade" id="{{users_name}}passwordModal" tabindex="-1" role="dialog" aria-labelledby="{{users_name}}passwordModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="{{users_name}}passwordModalLabel">Change Password</h4>
          </div>

              <div class="modal-body">

                <form action="{{ url_for('profile') }}" method="post">
                    <fieldset>
                        <br>
                        <div class="pname">{{user.username}}</div>
                        <div class="col-md-12" align="right">
                            <input name="action" value ="passedit" type="hidden"/>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" name="curr_password" placeholder="Current Password" type="password" required="true" autofocus/>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" name="newpass1" placeholder="New Password" type="password" required="true"/>
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" name="newpass2" placeholder="Re-enter New Password" type="password" required="true"/>
                            </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-default" type="submit">Chage Password</button>
                                </div>
                            </div>
                    </fieldset>
                </form>

              </div>
            </div>
        </div>
    </div>

{% endblock %}
